{% extends 'base.html' %}

{% block content %}
<div class="box-element">
    <div class="cart-row d-flex">
        <div style="flex:2"></div>
        <div style="flex:2 ;"><strong>city</strong></div>
        <div style="flex:1"><strong>street</strong></div>
        <div style="flex:1"><strong>plaque</strong></div>
        <div style="flex:1"><strong>Remove</strong></div> 

    </div>
    <hr>
    {% for item in address %}
    <div class="cart-row d-flex">
        
        <div class = "col-2"></div>
        <div  ><img class="row-image" style=" border:10px solid rgb(212, 209, 209); height: 100px; width: 100px;" src="{{ item.food_menu_id.food_id.photo.url }}"></div>  
        
        <div class="col-3"><p>{{item.city}}</p></div>
        <div class="col-2"><p>{{item.street}}</P></div>
        <div class="col-1"><p >{{item.plaque}}</p></div>
        
   
    
    </div>
    {% endfor %}
</div>

{% endblock content %}