{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block css %}
  
<link rel="stylesheet" type="text/css" href="{% static 'assets/cart/css/main.css' %}">
{% endblock css %} 
<div style = "padding : 100px">
	<a  class="btn btn-outline-dark"  href="{% url 'store' %}">&#x2190; Continue Shopping</a>
</div>
<div class="row d-flex">

	<div class="flex-column col-6" style = "padding:50px ; padding-top : 30px">
		<img style=" border:2px solid black; padding:50px; height: 450px; width: 450px;" src="{{product.food_id.photo.url}}">
	</div>

	<div style="padding:50px" class="col-6">
		{% if msg %}
			<h6>{{msg}}</h6>
		{% endif %}
		<h3 name = "name" id = "name">{{product.name}}</h3>
		
		<hr>
		
		<form method="POST" action="{% url 'product' product.id %}">
			{% csrf_token %}
			<input min="1" value=1 type="number" name="number"  id ="number">
			<input class="btn btn-dark" type="submit" value="Add to Cart">
		</form>
		<h1 name="branch"  id ="branch"><a href="{% url 'branches' product.branch_id.id %}" > {{product.branch_id.name}}</a></h1>
		<h2 name = "price" id = "price">Price: ${{product.price}}</h2>
		<h4>{{food.discreption}}</h4>
		<hr>
	</div>
</div>

{% endblock content %}