{% extends 'base.html' %}
{% block title %} Search Results{% endblock title %}

{% block css %}
{% load static %}

<script src="{% static 'assets/js/main2.js' %}" defer></script>
{% endblock css %}

{% block content %}

<div class="container">
   <a href="{% url 'Home' %}" class="btn btn-primary  mb-2" style="margin-top: 10px">Home</a>
  {% if query %}
 
            <h2>
 
            {% with results.count as total_results %}
 
            Found {{ total_results }} result{{ total_results|pluralize }}
 
            {% endwith %}
 
            </h2>
 
            <center>
                <div class="row p-5 d-flex justify-content-around ">
                    {% for product in results %}
                    <div class=" box-element d-flex p-1  " id = resultBox >
                        
                        
                        <img class="thumbnail rounded d-flex" style="height: 200px; width: 200px; padding: 50px; border: 2px solid black;" src="{{ product.food_id.photo.url }}">
                        <div class="box-element product  "  >
                            <h5><strong>{{product.food_id.name}}</strong></h5>
                            <h4 style="display: block;  " ><strong>${{product.price}}</strong></h4>
                              <h2 style="display: inline;">from :<a href="{% url 'branches' product.branch_id.id %}"></h2><h1 style="display: inline;">{{product.branch_id.name}}</h1></a>
                            <br>
                             <a class="btn btn-outline-success d-inline-block" href="{% url 'product' product.id %}">View Product</a>
                            
                            <div style="padding-top: 30px;" ></div>
                            
                            
                        </div>
                    </div>
                    <hr>
                        
                    {% endfor %}	
                            
                </div>
            </center>
 </div>
       {% endif %}  



{% endblock content %}
{% block script %}


{% endblock script %}



