{% extends 'base.html' %}

{% block content %}
<body class="bg-black">
    

<div id="contact_form" class="d-flex justify-content-center">
    <form id="food_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        <div class="col-sm-12">
            <div class=" form-group col-10 ">
            {{form.as_p}}
            </div>
        </div>
        <input id="button" class="sendButton m-5 p-3" type="submit" name="create_menu" value='Add Menu'>
    </form>
    <a type="submit" href="{%url 'restaurant_panel'%}">Later</a>

</body>
{% endblock content %}